# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.envrc

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Logs
*.log

# PDFs (generated)
*.pdf
